
@{
    ViewData["Title"] = "About";
}

<h1 padding-top="20px" padding-bottom="20px">About Us </h1>
<p>Khumalo Craft Emporium is a global e-commerce platform to showcases handcrafted products and is owned by Mr. James Khumalo.  
    We have an objective that is connecting artists worldwide with discerning audiences. </p>
<img src="https://www.investopedia.com/thmb/LGJc-r3ArCNhqInuCrkPtaIi2Zg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/ecommerce-d7e19a12ebed400eb1b2344b2cbb0e7d.png" 
    alt="E-commerce" margin-left= "auto" margin-right= "auto" width="100%"/>



