
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<p>Our contacs</p>

<ul>
    <li>Fax: +276640717199</li>
    <li>Fax2: +27720649197</li>
    <li>Whatsapp: +27662017189</li>
    <li>Email: KhumaloCraft@gmail.com</li>
</ul>

<p>You can also contact us on our social media</p>

<ul>
    <li><a href="">Instagram</a></li>
    <li><a href="">Twitter/X</a></li>
</ul>